#about{
    padding-left: 40px;
    padding-right: 20px;
    color: white;
    height: calc(100% - 100px);   
    overflow: auto;

    display: flex;
    align-items: center;
    gap:120px;

}

#social{
    margin-bottom: 70px;
    font-size: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#about-content{
    background-color: rgba(0, 115, 128, 0.7);
    padding: 50px;
}

#about-content h1{
    margin-bottom: 50px;
    
}

#message{
    padding: 20px;
    margin-bottom: 100px;

}

#team{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.members{
    width: 250px;
    height: 150px;
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 5px;



    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5px;

}

.members button{
    align-self: center;
    padding: 5px 30px;
    border-radius: 10px;
    border: .5px solid rgba(255, 255, 255, 0.614);
    background-color: rgba(48, 64, 159, 0.828);
    color: whitesmoke
}




