*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-image:
    linear-gradient(to right, rgba(17, 48, 68, 0.935),  rgba(36, 101, 144, 0.267)),
    url("https://img.freepik.com/free-photo/aerial-view-beautiful-cityscape-with-illuminated-buildings-sea-storm-clouds_181624-6359.jpg?t=st=1731690302~exp=1731693902~hmac=d5f704f53a47922fb877f5178e86050b260d7597127c73b83f455ff19ac12b78&w=2000");
}

button:hover, i:hover{
    cursor: pointer;
}

p{
    letter-spacing: .5px;
    line-height: 20px;
}

