*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-image:
    linear-gradient(to right, rgba(17, 48, 68, 0.935),  rgba(36, 101, 144, 0.267)),
    url('../pictures/backgroundTravel.jpg');
    background-size: 150%;
}

button:hover, i:hover{
    cursor: pointer;
}

p{
    letter-spacing: .5px;
    line-height: 20px;
}

h1{
font-size: 65px;;
}
