
/* Header styling  */

nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(17, 48, 68, 0.7),  rgba(36, 101, 144, 0.7));

    padding-right: 10px;
    padding-left: 10px;

}

nav h1{
    color: white;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    padding: 10px 20px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li:hover{
    background-color: rgba(0, 115, 128, 0.4);
    cursor: pointer;

}

#destination{
    padding: 7px 30px;
    border-radius: 20px;
    width: 350px;
    padding-left:10px;
}

#searchWrapper{
    position: relative;
}

#searchBtn{
    position: absolute;
    top:15%;
    right:75px;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 115, 128);
    color:white;
    cursor: pointer;
}
 #resetBtn{
    position: absolute;
    top:15%;
    right:15px;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 115, 128);
    color:white;
    cursor: pointer;

 }